fastapi
uvicorn
langchain
langchain-core
langchain-deepseek
langserve
langchain_community
langgraph
langgraph_supervisor
langgraph-cli[inmem]
pydantic
python-dotenv
sse_starlette
pillow
IPython
bpy
bs4
sentence-transformers
huggingface_hub[hf_xet]
faiss-cpu
langchain-huggingface
tree_sitter
tree_sitter_languages
langchain_anthropic
dashscope
mathutils
unreal
openpyxl
pandas